<section id="panel" class="background">
  <section class="PanelContenidoDos EspacioSideNav">
    <section class="PanelSubContenidoDos">
      <span class="message-text">
        <span class="MensajePrincipalTitle" [translate]="'page5.princialtitle'">
          <hr />
          ¿Por qué invertir?
        </span>
        <span [translate]="'page5.princialmessage'"
          >La digitalización del dinero es inminente.</span
        ></span
      >
    </section>
  </section>
  <section class="PanelImagenDos EspacioSideNav">
    <div class="verticalMarquee">
      <p *ngIf="currentLang == 'es'">
        INVERTIR EN CRYPTOS INVERTIR EN CRYPTOS INVERTIR EN CRYPTOS
      </p>
      <p *ngIf="currentLang == 'es'">
        INVERTIR EN CRYPTOS INVERTIR EN CRYPTOS INVERTIR EN CRYPTOS
      </p>
      <p *ngIf="currentLang == 'es'">INVERTIR EN CRYPTOS INVERTIR CRYPTO</p>

      <p *ngIf="currentLang == 'en'">
        INVEST IN CRYPTO INVEST IN CRYPTO INVEST IN CRYPTO
      </p>
      <p *ngIf="currentLang == 'en'">
        INVEST IN CRYPTO INVEST IN CRYPTO INVEST IN CRYPTO
      </p>
      <p *ngIf="currentLang == 'en'">INVEST IN CRYPTO INVEST IN CRYPTO</p>
    </div>
    <img src="/assets/img/img1.png" alt="" class="PanelImage" />
  </section>
</section>
