<section id="panel" class="background">
  <section class="PanelContenidoDos EspacioSideNav">
    <section class="PanelSubContenidoDos">
      <span class="MensajePrincipal">
        <span>
          <hr />
          ¿Por qué invertir?
        </span>
        Oportunidad de inversión generacional.</span
      >
    </section>
  </section>
  <section class="PanelImagenDos EspacioSideNav">
    <div class="verticalMarquee">
      <p *ngIf="currentLang == 'es'">
        INVERTIR EN CRYPTOS INVERTIR EN CRYPTOS INVERTIR EN CRYPTOS
      </p>
      <p *ngIf="currentLang == 'es'">
        INVERTIR EN CRYPTOS INVERTIR EN CRYPTOS INVERTIR EN CRYPTOS
      </p>
      <p *ngIf="currentLang == 'es'">INVERTIR EN CRYPTOS INVERTIR CRYPTO</p>

      <p *ngIf="currentLang == 'en'">
        INVEST IN CRYPTO INVEST IN CRYPTO INVEST IN CRYPTO
      </p>
      <p *ngIf="currentLang == 'en'">
        INVEST IN CRYPTO INVEST IN CRYPTO INVEST IN CRYPTO
      </p>
      <p *ngIf="currentLang == 'en'">INVEST IN CRYPTO INVEST IN CRYPTO</p>
    </div>
    <img src="/assets/img/img2.png" alt="" />
  </section>
</section>
