<section id="PANELPRINCIPAL" class="FondoDos">
  <div class="PanelContenido">
    <section class="TitlePage">
      <span [translate]="'page8.princialtitle'">INVERTIR CON AiQuant</span>
    </section>
    <div class="PanelDivision">
      <section class="PanelImagenDos">
        <!-- <div class="marqueeCuatro">
                    <span>INVERTIR CON AiQuant</span>
                </div> -->
        <img src="/assets/img/img4.gif" alt="" />
      </section>
      <section class="PanelItemDos">
        <h1 [translate]="'page8.question'">
          ¿Por qué nos eligen nuestros clientes?
        </h1>
        <section class="PanelContenidoTexto">
          <ul>
            <li>
              <span [translate]="'page8.message1'"
                >Somos profesionales altamente capacitados con experiencia en
                inversión tradicional y cryptos.</span
              >
            </li>
            <li>
              <span [translate]="'page8.message2'"
                >Exploramos formas creativas de maximizar la rentabilidad.</span
              >
            </li>
            <li>
              <span [translate]="'page8.message3'"
                >Trabajamos para superar índices y benchmarks.</span
              >
            </li>
          </ul>
        </section>
      </section>
    </div>
  </div>
</section>
